<div class="favourites-container">
  <h1>My bookings</h1>
  <h2>Manage your bookings here</h2>
  <div class="table-container">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Venue Name</th>
        <th scope="col">Date</th>
        <th scope="col">Time Slot</th>
        <th scope="col">Price</th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">10</th>
        <th scope="row">Sports Hall</th>
        <th scope="row">Monday, 10 Apr 2021</th>
        <th scope="row">14:00 - 15:30</th>
        <th scope="row">$20.00/h</th>
        <th scope="row" class="a" routerLink="/venue">DETAILS</th>
        <th scope="row" class="a" routerLink="/edit-booking">EDIT</th>
        <th scope="row" class="delete" routerLink="/delete-booking">DELETE</th>
      </tr>
      </tbody>
    </table>
  </div>
</div>
