<div class="home-container">
  <div class="img-container">
    <form [formGroup]="searchVenuesForm" (ngSubmit)="onSubmit()" class="form-container">
      <h1>Find and book a venue in your area</h1>
      <div>
        <input name="venueType" placeholder="Venue Type" formControlName="venueType">
        <input name="city" placeholder="City" formControlName="city">
      </div>
      <button type="submit">Search</button>
    </form>
  </div>
  <div class="icon-info">
    <ul>
      <li><i class="fas fa-search"></i> SEARCH</li>
      <li><i class="far fa-calendar-alt"></i> BOOK</li>
      <li><i class="fas fa-running"></i> PLAY</li>
    </ul>
  </div>
  <h2 routerLink="/explore"> Explore Our Venues</h2>
  <div class="grid-container">
    <div class="explore-item">
      <img src="https://source.unsplash.com/6D2Lmtv_X8A/">
      <h3>Tennis</h3>
    </div>
    <div class="explore-item">
      <img src="https://source.unsplash.com/6D2Lmtv_X8A/">
      <h3>Tennis</h3>
    </div>
    <div class="explore-item">
      <img src="https://source.unsplash.com/6D2Lmtv_X8A/">
      <h3>Tennis</h3>
    </div>
    <div class="explore-item">
      <img src="https://source.unsplash.com/6D2Lmtv_X8A/">
      <h3>Tennis</h3>
    </div>
    <div class="explore-item">
      <img src="https://source.unsplash.com/6D2Lmtv_X8A/">
      <h3>Tennis</h3>
    </div>
    <div class="explore-item">
      <img src="https://source.unsplash.com/6D2Lmtv_X8A/">
      <h3>Tennis</h3>
    </div>
  </div>
  <div class="list-container">
    <div class="list-img-container">
      <img src="../assets/img/sports.png" class="list-img">
    </div>
    <div class="list-details-container">
      <h4>List your venue and get more bookings!</h4>
      <h5>We are the world’s fastest-growing online marketplace for sports venues booking. We're giving you direct
        access to the customers.</h5><br>
      <a routerLink="/add-venue">List your Venue</a>
    </div>
  </div>
</div>
