<div class="explore-container">
  <h1>Explore Venues</h1>
  <h2>Choose a sport that suits you best</h2>
  <div class="disciplines-container">
    <ul>
      <li><i class="fas fa-running"></i> Athletics</li>
      <li><img src="../assets/icons/4244806001595759707.svg"> Badminton</li>
      <li><i class="fas fa-basketball-ball"></i> Basketball</li>
      <li><img src="../assets/icons/climbing.svg"> Climbing</li>
    </ul>
    <ul>
      <li><i class="fas fa-child"></i> Dance</li>
      <li><i class="fas fa-futbol"></i> Football</li>
      <li><i class="fas fa-golf-ball"></i> Golf</li>
      <li><i class="fas fa-dumbbell"></i> Gym</li>
    </ul>
    <ul>
      <li><i class="fas fa-hockey-puck"></i> Hockey</li>
      <li><i class="fas fa-volleyball-ball"></i> Netball</li>
      <li><i class="fas fa-football-ball"></i> Rugby</li>
      <li><img src="../assets/icons/squash.svg"> Squash</li>
    </ul>
    <ul>
      <li><i class="fas fa-swimming-pool"></i> Swimming</li>
      <li><i class="fas fa-table-tennis"></i> Table Tennis</li>
      <li><i class="fas fa-baseball-ball"></i> Tennis</li>
      <li><i class="fas fa-volleyball-ball"></i> Volleyball</li>
    </ul>
  </div>
</div>

