<div class="venue-container">
  <div class="img-container"></div>
  <div class="disciplines-container">
    <ul>
      <li><a>Basketball</a></li>
      <li><a>Rugby</a></li>
      <li><a>Tennis</a></li>
      <li><a>Volleyball</a></li>
    </ul>
  </div>
  <div class="info-container">
    <div class="left-info">
      <div class="address-container">
        <h2>{{venue.venueType}} {{venue.venueName}}</h2>
        <p></p>
        <p>{{venue.streetName}} {{venue.streetNumber}}</p>
        <p>{{venue.postcode}} {{venue.city}}, {{venue.country}}</p>
      </div>
      <div class="calendar-container">
        <h3><i class="fas fa-calendar-alt"></i> Calendar</h3>
      </div>
      <div class="hours-container">
        <h3><i class="far fa-calendar"></i> Opening Hours and Prices</h3>
        <div class="table-container">
          <table class="table">
            <tbody>
            <tr *ngIf="openingDetails.mondayFrom && openingDetails.mondayTo && openingDetails.mondayPrice">
              <th scope="row">Monday</th>
              <th scope="row">{{openingDetails.mondayFrom}} - {{openingDetails.mondayTo}}</th>
              <th scope="row">{{openingDetails.mondayPrice}}</th>
            </tr>
            <tr *ngIf="openingDetails.tuesdayFrom && openingDetails.tuesdayTo && openingDetails.tuesdayPrice">
              <th scope="row">Tuesday</th>
              <th scope="row">{{openingDetails.tuesdayFrom}} - {{openingDetails.tuesdayTo}}</th>
              <th scope="row">{{openingDetails.tuesdayPrice}}</th>
            </tr>
            <tr *ngIf="openingDetails.wednesdayFrom && openingDetails.wednesdayTo && openingDetails.wednesdayPrice">
              <th scope="row">Wednesday</th>
              <th scope="row">{{openingDetails.wednesdayFrom}} - {{openingDetails.wednesdayTo}}</th>
              <th scope="row">{{openingDetails.wednesdayPrice}}</th>
            </tr>
            <tr *ngIf="openingDetails.thursdayFrom && openingDetails.thursdayTo && openingDetails.thursdayPrice">
              <th scope="row">Thursday</th>
              <th scope="row">{{openingDetails.thursdayFrom}} - {{openingDetails.thursdayTo}}</th>
              <th scope="row">{{openingDetails.thursdayPrice}}</th>
            </tr>
            <tr *ngIf="openingDetails.fridayFrom && openingDetails.fridayTo && openingDetails.fridayPrice">
              <th scope="row">Friday</th>
              <th scope="row">{{openingDetails.fridayFrom}} - {{openingDetails.fridayTo}}</th>
              <th scope="row">{{openingDetails.fridayPrice}}</th>
            </tr>
            <tr *ngIf="openingDetails.saturdayFrom && openingDetails.saturdayTo && openingDetails.saturdayPrice">
              <th scope="row">Saturday</th>
              <th scope="row">{{openingDetails.saturdayFrom}} - {{openingDetails.saturdayTo}}</th>
              <th scope="row">{{openingDetails.saturdayPrice}}</th>
            </tr>
            <tr *ngIf="openingDetails.sundayFrom && openingDetails.sundayTo && openingDetails.sundayPrice">
              <th scope="row">Sunday</th>
              <th scope="row">{{openingDetails.sundayFrom}} - {{openingDetails.sundayTo}}</th>
              <th scope="row">{{openingDetails.sundayPrice}}</th>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="location-container">
        <h3><i class="fas fa-map-marker-alt"></i> Location</h3>
        <div class="img"></div>
        <h4><i class="fas fa-map-marker"></i> {{venue.streetName}} {{venue.streetNumber}}, {{venue.city}}</h4>
      </div>
      <div class="description-container">
        <h3><i class="fas fa-sticky-note"></i> Description</h3>
        <h5>{{venue.description}}</h5>
      </div>
    </div>
    <div class="right-info">
      <div class="tile-container">
        <div class="up-info">
          <h6>We need this details for booking</h6>
          <form>
            <input name="date" type="date">
            <input name="timeFrom" type="time" step="900">
            <input name="timeTo" type="time" step="900">
            <button type="submit" class="bookNowButton">BOOK NOW</button>
          </form>
        </div>
        <div class="down-info">
          <p class="fav" *ngIf="!isFavourite" (click)="addToFavourites()"><i class="far fa-heart"></i> Add to Favourites
          </p>
          <p class="fav" *ngIf="isFavourite" (click)="removeFromFavourites()"><i class="fas fa-heart"></i> Remove from
            Favourites</p>
        </div>
      </div>
    </div>
  </div>
</div>
