<div class="favourites-container">
  <h1>My Venues</h1>
  <h2>Manage your venues here</h2>
  <div *ngFor="let venue of venues" class="tile-container">
    <div class="tile-img-container"></div>
    <div class="info-container">
      <div class="left-info">
        <h3>{{venue.venueType}}</h3>
        <p>{{venue.venueName}}</p>
        <p>{{venue.streetName}} {{venue.streetNumber}}, {{venue.city}}</p>
        <div class="related-disciplines">
          <h4>Related disciplines</h4>
          <ul>
            <li><i class="fas fa-baseball-ball"></i></li>
            <li><i class="fas fa-baseball-ball"></i></li>
            <li><i class="fas fa-baseball-ball"></i></li>
          </ul>
        </div>
      </div>
      <div class="right-info">
        <ul>
          <li><a routerLink="/venue/{{venue.id}}">DETAILS</a></li>
          <li><a class="edit" routerLink="/edit/{{venue.id}}">EDIT</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
