.list-venue-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
}

.list-venue-form {
  width: 70%;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
  font-weight: lighter;
}

h3 {
  font-size: 1.5em;
  margin-top: 1.5em;
  font-weight: bold;
}

.disciplines-container {
  text-align: left;
}

.venue-details-container input,
textarea {
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 8px #00000029;
  border: none;
  border-radius: 0.5em;
  padding: 1em;
  margin-bottom: 0.5em;
  margin-left: 2%;
  width: 94%;
}

.discipline-checkbox {
  display: flex;
  flex-direction: row;
  margin-left: 2%;
}

ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0 5em 0 2em;
}

ul:last-child {
  padding: 0;
}

li {
  font-size: 1.3em;
}

li input[type="checkbox"] {
  appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid #00A287;
  border-radius: 0.1em;
}

li input[type="checkbox"]:checked {
  background-color: #00A287;
}

.table-container {
  margin-left: 2%;
}

table {
  font-size: 1.1em;
  width: 98%;
}

td {
  text-align: left;
  font-weight: lighter;
  vertical-align: middle;
  padding-left: 2em;
}

th {
  text-align: left;
  vertical-align: middle;
  font-weight: normal;
  padding-left: 2em;
}

th:first-child {
  padding-left: 0;
}

input[type="time"],
input[type="number"] {
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 8px #00000029;
  border: none;
  border-radius: 0.5em;
  padding: 0.4em;
  width: 100%;
  text-align: center;
}

input[type="file"] {
  border: 0;
  height: 5px;
  position: absolute;
  width: 0;
}

input[type="file"] + label, button {
  background-color: #FF5B65;
  color: #ffffff;
  cursor: pointer;
  box-shadow: 0 8px 8px #00000029;
  padding: 0.8em;
  border-radius: 0.5em;
  width: 30%;
  text-align: center;
}

input[type="file"] + label:hover {
  background-color: #00A287;
}

.add {
  width: 100%;
  margin-top: 1em;
}

button {
  border: none;
  width: 98%;
  background: #000000;
  margin-top: 1em;
}

button:hover {
  background: #00A287;
}

input[type="text"].ng-invalid {
  border-left: 5px solid red;
}

input[type="text"].ng-valid {
  border-left: 5px solid green;
}

.error {
  color: red;
  font-size: 0.8em;
  text-align: left;
  margin-left: 1em;
}
