<div class="list-venue-container">
  <h1>List your Venue</h1>
  <h2>Complete the form and start filling your booking calendar today</h2>
  <form [formGroup]="addVenueForm" (ngSubmit)="onSubmit()" class="list-venue-form">
    <div class="venue-details-container">
      <h3>VENUE DETAILS</h3>
      <div class="details-inputs">
        <input name="venue-type" type="text" placeholder="Venue Type" formControlName="venueType">
        <span *ngIf="venueType.invalid && venueType.touched" class="error">Venue Type is required</span>
        <input name="venue-name" type="text" placeholder="Venue Name" formControlName="venueName">
        <span *ngIf="venueName.invalid && venueName.touched" class="error">Venue Name is required</span>
        <input name="street-name" type="text" placeholder="Street Name" formControlName="streetName">
        <span *ngIf="streetName.invalid && streetName.touched" class="error">Street Name is required</span>
        <input name="street-number" type="text" placeholder="Street Number" formControlName="streetNumber">
        <span *ngIf="streetNumber.invalid && streetNumber.touched" class="error">Street number is required</span>
        <input name="city" type="text" placeholder="City" formControlName="city">
        <span *ngIf="city.invalid && city.touched" class="error">City is required</span>
        <input name="postcode" type="text" placeholder="Postcode" formControlName="postcode">
        <span *ngIf="postcode.invalid && postcode.touched" class="error">Postcode is required</span>
        <input name="country" type="text" placeholder="Country" formControlName="country">
        <span *ngIf="country.invalid && country.touched" class="error">Country is required</span>
      </div>
    </div>
    <div class="disciplines-container">
      <h3>SPORTS DISCIPLINES</h3>
      <div class="discipline-checkbox">
        <ul>
          <li><input name="athletics" type="checkbox"> Athletics</li>
          <li><input name="dance" type="checkbox"> Dance</li>
          <li><input name="hockey" type="checkbox"> Hockey</li>
          <li><input name="swimming" type="checkbox"> Swimming</li>
        </ul>
        <ul>
          <li><input name="badminton" type="checkbox"> Badminton</li>
          <li><input name="football" type="checkbox"> Football</li>
          <li><input name="netball" type="checkbox"> Netball</li>
          <li><input name="tableTennis" type="checkbox"> Table Tennis</li>
        </ul>
        <ul>
          <li><input name="basketball" type="checkbox"> Basketball</li>
          <li><input name="golf" type="checkbox"> Golf</li>
          <li><input name="rugby" type="checkbox"> Rugby</li>
          <li><input name="tennis" type="checkbox"> Tennis</li>
        </ul>
        <ul>
          <li><input name="climbing" type="checkbox"> Climbing</li>
          <li><input name="gym" type="checkbox"> Gym</li>
          <li><input name="squash" type="checkbox"> Squash</li>
          <li><input name="volleyball" type="checkbox"> Volleyball</li>
        </ul>
      </div>
    </div>
    <div class="hours-container">
      <h3>OPENING HOURS AND PRICES</h3>
      <div class="table-container">
        <button type="button" class="btn btn-primary mb-2" (click)="addOpeningDetails()">Add table</button>
        <table class="table" *ngFor="let detail of details; let i = index;">
          <thead>
          <tr>
            <th><h4>OpeningDetails {{i + 1}}</h4></th>
            <td></td><td></td>
            <td><button type="button" class="btn btn-danger btn-sm" (click)="removeOpeningDetails(i)">Remove</button></td>
          </tr>
          <tr>
            <th>Date From</th>
            <td><input type="date" class="form-control" [(ngModel)]="detail.dateFrom" [ngModelOptions]="{standalone: true}"/></td>
            <td></td><td></td>
          </tr>
          <tr class="spaceUnder">
            <th>Date To</th>
            <td><input type="date" class="form-control" [(ngModel)]="detail.dateTo" [ngModelOptions]="{standalone: true}"/></td>
            <td></td><td></td>
          </tr>
          <tr>
            <th>Day</th>
            <th>Time From</th>
            <th>Time To</th>
            <th>Price</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th>Monday</th>
            <td><input type="time" step="900" class="form-control" [(ngModel)]="detail.mondayFrom" [ngModelOptions]="{standalone: true}"/></td>
            <td><input type="time" step="900" class="form-control" [(ngModel)]="detail.mondayTo" [ngModelOptions]="{standalone: true}"/></td>
            <td><input type="number" step="5" class="form-control" [(ngModel)]="detail.mondayPrice" [ngModelOptions]="{standalone: true}"/></td>
          </tr>
          <tr>
            <th>Tuesday</th>
            <td><input type="time" step="900" class="form-control" [(ngModel)]="detail.tuesdayFrom" [ngModelOptions]="{standalone: true}"/></td>
            <td><input type="time" step="900" class="form-control" [(ngModel)]="detail.tuesdayTo" [ngModelOptions]="{standalone: true}"/></td>
            <td><input type="number" step="5" class="form-control" [(ngModel)]="detail.tuesdayPrice" [ngModelOptions]="{standalone: true}"/></td>
          </tr>
          <tr>
            <th>Wednesday</th>
            <td><input type="time" step="900" class="form-control" [(ngModel)]="detail.wednesdayFrom" [ngModelOptions]="{standalone: true}"/></td>
            <td><input type="time" step="900" class="form-control" [(ngModel)]="detail.wednesdayTo" [ngModelOptions]="{standalone: true}"/></td>
            <td><input type="number" step="5" class="form-control" [(ngModel)]="detail.wednesdayPrice" [ngModelOptions]="{standalone: true}"/></td>
          </tr>
          <tr>
            <th>Thursday</th>
            <td><input type="time" step="900" class="form-control" [(ngModel)]="detail.thursdayFrom" [ngModelOptions]="{standalone: true}"/></td>
            <td><input type="time" step="900" class="form-control" [(ngModel)]="detail.thursdayTo" [ngModelOptions]="{standalone: true}"/></td>
            <td><input type="number" step="5" class="form-control" [(ngModel)]="detail.thursdayPrice" [ngModelOptions]="{standalone: true}"/></td>
          </tr>
          <tr>
            <th>Friday</th>
            <td><input type="time" step="900" class="form-control" [(ngModel)]="detail.fridayFrom" [ngModelOptions]="{standalone: true}"/></td>
            <td><input type="time" step="900" class="form-control" [(ngModel)]="detail.fridayTo" [ngModelOptions]="{standalone: true}"/></td>
            <td><input type="number" step="5" class="form-control" [(ngModel)]="detail.fridayPrice" [ngModelOptions]="{standalone: true}"/></td>
          </tr>
          <tr>
            <th>Saturday</th>
            <td><input type="time" step="900" class="form-control" [(ngModel)]="detail.saturdayFrom" [ngModelOptions]="{standalone: true}"/></td>
            <td><input type="time" step="900" class="form-control" [(ngModel)]="detail.saturdayTo" [ngModelOptions]="{standalone: true}"/></td>
            <td><input type="number" step="5" class="form-control" [(ngModel)]="detail.saturdayPrice" [ngModelOptions]="{standalone: true}"/></td>
          </tr>
          <tr>
            <th>Sunday</th>
            <td><input type="time" step="900" class="form-control" [(ngModel)]="detail.sundayFrom" [ngModelOptions]="{standalone: true}"/></td>
            <td><input type="time" step="900" class="form-control" [(ngModel)]="detail.sundayTo" [ngModelOptions]="{standalone: true}"/></td>
            <td><input type="number" step="5" class="form-control" [(ngModel)]="detail.sundayPrice" [ngModelOptions]="{standalone: true}"/></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="description-container">
      <h3>DESCRIPTION</h3>
      <textarea name="instructions" rows=30 placeholder="Write instructions..." formControlName="description"></textarea>
      <span *ngIf="description.invalid && description.touched" class="error">Description is required.</span>
    </div>
    <div class="files-container">
      <h3>PHOTOS</h3>
      <div class="files-upload-container">
        <input type="file" id="file" multiple>
        <label for="file">Select files</label>
      </div>
      <div *ngIf="!editMode; else myElse" class="add">
        <button type="submit" class="addVenueButton">Add Venue</button>
      </div>
      <ng-template #myElse>
        <div class="add">
          <button type="submit" class="addVenueButton">Update Venue</button>
        </div>
      </ng-template>
    </div>
  </form>
</div>
